<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Esqueci Minha Senha</title>
</head>
<body>
    <h2>Esqueci Minha Senha</h2>
    <form th:action="@{/forgot-password}" method="post">
        <input type="email" name="email" placeholder="Insira seu email" required>
        <button type="submit">Enviar Email</button>
    </form>
    <div th:if="${message}">
        <p style="color: green;" th:text="${message}"></p>
    </div>
    <div th:if="${error}">
        <p style="color: red;" th:text="${error}"></p>
    </div>
</body>
</html>